<div class="password-container" [formGroup]="passwordForm">
  <label for="password">Password:</label>
  <input class="password-input" type="{{ showPassword ? 'text' : 'password' }}" id="password" formControlName="password"/>
  <button class="toggle-button" type="button" (click)="togglePasswordVisibility()">
    {{ showPassword ? 'Hide' : 'Show' }} Password
  </button>
</div>

<app-password-strength [password]="passwordForm.get('password')?.value" [showPassword]="showPassword"></app-password-strength>
