.password-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.password-input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%; 
  box-sizing: border-box; 
}

.toggle-button {
  padding: 8px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #0056b3;
}


@media screen and (max-width: 600px) {
  .password-container {
    font-size: 14px;
  }

  .password-input,
  .toggle-button {
    padding: 6px; 
    font-size: 14px; 
  }
}
