.password-strength-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  section {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .easy-section {
    background-color: #dc3545; 
    color: white;
  }
  
  .medium-section {
    background-color: #ffc107; 
    color: #343a40;   }
  
  .strong-section {
    background-color: #28a745; 
    color: white;
  }
  
  
  @media screen and (max-width: 600px) {
    .password-strength-container {
      font-size: 14px; 
    }
  
    section {
      padding: 8px; 
      font-size: 14px; 
    }
  }
  